/*-------------------------------------------------------------SCREEN SISES*/
/*-------------------------------------------------------BIG*/
@media only screen and (min-width: 600px) {
    main{
      padding-top:4em;
    }
    nav {
        top: 0;
    }
    footer{
        padding-bottom: 3em;
    }
    .grid{
      display: flex;
      div{
        width: 50vw;
      }
    }

  }
  /*-----------------------------------------------------SMALL*/
  @media only screen and (max-width: 600px) {
    nav {
        bottom: 0px;
        left: 0px;
        width: 100vw;
        .a-logo {
          display: none;
        }
        ul {
          margin: 0em;
          p {
            font-size: 1.5em;
          }
          .nav-li {
            padding-top: 1em;
            padding-bottom: 1em;
          }
        }
        strong {
          display: none;
        }
      }
    section {
      display: block;
    }
    .grid{
      display: block;
      padding: 1em;
      div{
        margin-top: 1em;
      }
    }
    #search{
        position: fixed;
        width: 100vw;
        bottom: 5em;
        background-color: $nav-bg;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        input[type=search]{
            width: 70vw;
            font-size: 1.15em;
            margin: 0;
        }
        input[type=submit]{
            margin: 0;
            margin-top:1em;
            margin-bottom:1em;
        }
    }

    footer {
      padding-bottom: 7em;
    }
  }
