/*

Name:           ROOT FILE FOR A WEBSITE
Designed By:    Robert Binkowski
Date:           25/2/22

*/
/* --------------------------------------- Imports */
footer {
  background: #2e3133;
}

/* ----------------------------------- Variables */
/*-------------------------------------------------------------SCREEN SISES*/
/*-------------------------------------------------------BIG*/
@media only screen and (min-width: 600px) {
  main {
    padding-top: 4em;
  }
  nav {
    top: 0;
  }
  footer {
    padding-bottom: 3em;
  }
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .grid div {
    width: 50vw;
  }
}

/*-----------------------------------------------------SMALL*/
@media only screen and (max-width: 600px) {
  nav {
    bottom: 0px;
    left: 0px;
    width: 100vw;
  }
  nav .a-logo {
    display: none;
  }
  nav ul {
    margin: 0em;
  }
  nav ul p {
    font-size: 1.5em;
  }
  nav ul .nav-li {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  nav strong {
    display: none;
  }
  section {
    display: block;
  }
  .grid {
    display: block;
    padding: 1em;
  }
  .grid div {
    margin-top: 1em;
  }
  #search {
    position: fixed;
    width: 100vw;
    bottom: 5em;
    background-color: rgba(45, 54, 66, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  #search input[type=search] {
    width: 70vw;
    font-size: 1.15em;
    margin: 0;
  }
  #search input[type=submit] {
    margin: 0;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  footer {
    padding-bottom: 7em;
  }
}

/* ------------------------------------ DEFAULT */
html {
  scroll-behavior: smooth;
}

html body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow-x: hidden;
  background: #202938;
  color: #949494;
  text-shadow: 1px 1px 1px #272727;
}

html body main {
  min-height: 100vh;
  padding-bottom: 1em;
}

html body h1,
html body h2,
html body h3,
html body h4 {
  text-shadow: 2px 2px 2px #272727;
}

html body h1 {
  margin-bottom: 0;
  color: #58d68d;
}

html body h2 {
  margin-top: 0;
  color: #1792df;
}

html body h3 {
  color: #1792df;
}

html body h4 {
  color: #1792df;
}

html body #welcomeScreeen {
  min-height: 100vh;
}

html body footer {
  padding-top: 2em;
}

html body footer .footer-logo {
  height: 4em;
}

html body footer .footer-logo svg {
  stroke-width: 2;
}

html body footer .footer-links p {
  padding: .5em;
  font-size: 2em;
}

nav {
  display: block;
  width: 100vw;
  left: 0;
  right: 0;
  z-index: 1;
  position: fixed;
}

nav .nav-ul {
  -webkit-box-shadow: 0 0 1rem 0 rgba(32, 32, 32, 0.514);
          box-shadow: 0 0 1rem 0 rgba(32, 32, 32, 0.514);
  margin: 0;
  max-width: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(45, 54, 66, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

nav .nav-ul .nav-li {
  width: 100%;
}

nav .nav-ul .nav-a {
  height: 100%;
  padding: 1em 0 1em 0;
  width: 100%;
}

nav .nav-ul .nav-loc {
  text-align: left;
  height: 100%;
  padding: 1.3em 0 0 1em;
  width: 100%;
}

nav .nav-ul .nav-loc:hover {
  background: none;
}

a {
  text-decoration: none;
  color: #949494;
  font-weight: bold;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
}

a:hover, a:focus {
  color: #58d68d;
}

em {
  font-weight: bold;
  color: #1792df;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}

p strong {
  color: #58d68d;
}

/*----------------------------------------------LI*/
li {
  border-radius: 0.2em;
  padding: 0.3em;
  text-shadow: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

li a {
  font-size: 1.5em;
}

li:hover {
  background: radial-gradient(#539e721f 0, rgba(0, 0, 0, 0) 75%);
}

/* --------------------------------------- MAIN */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  margin-right: 0;
  margin: auto;
  margin-top: 1em;
  min-height: 100vh;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  margin-right: 0;
  margin: auto;
  margin-top: 1em;
  min-height: 100vh;
  max-width: 1300px;
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.7);
}

.top-svg {
  width: 100%;
  max-width: 20em;
  margin: 1em;
}

.grid {
  grid-gap: 1em;
  max-width: 100%;
  max-width: 1500px;
  margin: auto;
}

button {
  background-color: #00000000;
  color: #949494;
  font-size: 1.1em;
  outline: none;
}

button:hover, button:focus {
  color: #58d68d;
}

#signIn, #register {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#signIn .content, #register .content {
  background-color: #1c262e;
  margin: auto;
  border-radius: 0.2em;
  max-height: 50em;
  width: 30em;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#signIn .error-message, #register .error-message {
  color: #ff3e3e;
}

form textarea, form input[type=number], form input[type=search], form input[type=email], form input[type=checkbox], form input[type=text], form input[type=password], form input[type=date] {
  border-radius: 0.2em;
  padding: .5em;
  background-color: #00000000;
  padding-left: 1em;
  padding-right: 1em;
  outline: 3px solid #00000000;
  border: none;
  resize: none;
  width: 50em;
  color: #1792df;
  max-width: 400px;
  font-size: 1em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid #58d68d;
}

form textarea:focus, form input[type=number]:focus, form input[type=search]:focus, form input[type=email]:focus, form input[type=checkbox]:focus, form input[type=text]:focus, form input[type=password]:focus, form input[type=date]:focus {
  outline-color: #1792df;
}

form textarea:disabled, form textarea:-moz-read-only, form input[type=number]:disabled, form input[type=number]:-moz-read-only, form input[type=search]:disabled, form input[type=search]:-moz-read-only, form input[type=email]:disabled, form input[type=email]:-moz-read-only, form input[type=checkbox]:disabled, form input[type=checkbox]:-moz-read-only, form input[type=text]:disabled, form input[type=text]:-moz-read-only, form input[type=password]:disabled, form input[type=password]:-moz-read-only, form input[type=date]:disabled, form input[type=date]:-moz-read-only {
  background-color: #00000000;
  color: #58d68d;
  font-weight: bold;
}

form textarea:disabled, form textarea:read-only, form input[type=number]:disabled, form input[type=number]:read-only, form input[type=search]:disabled, form input[type=search]:read-only, form input[type=email]:disabled, form input[type=email]:read-only, form input[type=checkbox]:disabled, form input[type=checkbox]:read-only, form input[type=text]:disabled, form input[type=text]:read-only, form input[type=password]:disabled, form input[type=password]:read-only, form input[type=date]:disabled, form input[type=date]:read-only {
  background-color: #00000000;
  color: #58d68d;
  font-weight: bold;
}

form textarea {
  height: 5em;
  font-size: 1.2em;
}

form input[type=button], form input[type=submit] {
  width: 50em;
  max-width: 400px;
  margin: 0;
  margin-top: .5em;
  background-color: #00000000;
  color: #949494;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: bold;
}

form input[type=button]:disabled, form input[type=submit]:disabled {
  border-color: rgba(194, 39, 39, 0.836);
  background-color: #c96d6d83;
}

form input[type=button]:disabled:hover, form input[type=submit]:disabled:hover {
  border-radius: 1em;
  color: #949494;
}

.alert {
  background-color: #bada2d2d;
  padding: 1em;
  margin: 1em;
}

#deleteAccount {
  border-color: rgba(194, 39, 39, 0.836);
  color: rgba(194, 39, 39, 0.836);
}

#deleteAccount:hover {
  background-color: #c96d6d83;
  color: white;
}

.div-user-img {
  text-align: center;
}

.div-user-img p {
  font-size: 6em;
  color: #1792df;
}

label {
  font-size: 1.1em;
}

.div-info {
  max-width: 1500px;
  margin: auto;
  padding-left: 1em;
  text-align: left;
}

/* ------------------------------------- BUTTON */
.button, button {
  padding: 1em;
  margin: 1em;
  cursor: pointer;
  border: 1px solid #58d68d;
  border-radius: 1em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button:hover, .button:focus, button:hover, button:focus {
  border-radius: 0.2em;
  color: #58d68d;
  background: radial-gradient(#539e721f 0, rgba(0, 0, 0, 0) 75%);
}

.card {
  padding: 1em;
}

.kbw-signature {
  height: 180px;
  width: 400px;
  border-radius: .2em;
  background-color: #00000000;
}

#signaturePad canvas {
  width: 100% !important;
  height: auto;
  border-radius: .2em;
  border: #58d68d solid 2px;
  background-color: #00000000;
}
/*# sourceMappingURL=app.css.map */